.image {
    width: 250px;
    height: 250px;
}

.card-wrapper {
    margin: 10px;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
    transition: box-shadow .3s;

    &:hover{
        box-shadow: 0 0 11px rgba(20,36,138,.4); 
    }
}

.card-label {
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    inline-size: 240px;
    overflow-wrap: break-word;
}

.buy-button {
    padding: 7px 10px;
    margin: 5px;
    background-color: rgb(20, 36, 138);
    color: white;

    &:hover {
        cursor: pointer;
        background-color: hsl(232, 44%, 41%);
    }
}

.heart-img{
    width: 25px;
    height: 25px;
    margin-left: auto;
    margin-right: 5px;

    &:hover{
        cursor: pointer;
    }
}

.buttons-panel{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.price-label{
    font-weight: bold;
    padding: 10px 5px 0px 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}