<div class="nav-menu">
    <div class="nav-menu-logo">
        <span routerLink="/products">PCL</span>
    </div>
    <div class="nav-menu-item">
        <span>RINGS</span>
    </div>
    <div class="nav-menu-item">
        <span>PENDANTS</span>
    </div>
    <div class="nav-menu-item">
        <span>EARRINGS</span>
    </div>
    <div class="nav-menu-item">
        <span>OTHER</span>
    </div>
    <div class="nav-menu-item">
        <span routerLink="/contacts">CONTACTS</span>
    </div>
    <div class="menu-basket">
        <img src="../../assets/images/menu/basket.png">
    </div>
</div>