<div class="products-container">
    <div class="products-container-item">
        <span class="products-container-item-header">POLYGRAPHY</span>
    </div>
    <div class="products-container-item">
        <span class="products-container-item-header">PRINT SERVICES</span>
    </div>
    <div class="products-container-item">
        <span class="products-container-item-header">PHOTO SERVICES</span>
    </div>
    <div class="products-container-item">
        <span class="products-container-item-header">FOR STUDENTS</span>
    </div>
    <div class="products-container-item">
        <span class="products-container-item-header">AFTER-PRINT SERVICES</span>
    </div>
    <div class="products-container-item">
        <span class="products-container-item-header">POLYGRAPHY DESIGN</span>
    </div>
    <div class="products-container-item">
        <span class="products-container-item-header">BINDING</span>
    </div>
</div>