@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Open+Sans&display=swap');

$base-black: #28262C;
$base-grey: #998FC7;
$base-lavanda: #D4C2FC;
$base-magnolia: #F9F5FF;
$base-blue: #14248A;
$base-blue-light: hsl(232, 44%, 41%);

body{
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}
